WinPhoneClientProxy/Service References/ProductGroupManagerService/ProductGroupManagerService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonPortable.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonPortable.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paging">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualPageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfPages" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfProducts" type="xs:int" />
      <xs:element minOccurs="0" name="ProductsPerPage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paging" nillable="true" type="tns:Paging" />
  <xs:complexType name="ArrayOfLabelValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LabelValuePair" nillable="true" type="tns:LabelValuePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabelValuePair" nillable="true" type="tns:ArrayOfLabelValuePair" />
  <xs:complexType name="LabelValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LabelValuePair" nillable="true" type="tns:LabelValuePair" />
  <xs:complexType name="ArrayOfSearchPgAcVm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchPgAcVm" nillable="true" type="tns:SearchPgAcVm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchPgAcVm" nillable="true" type="tns:ArrayOfSearchPgAcVm" />
  <xs:complexType name="SearchPgAcVm">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendlyUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchPgAcVm" nillable="true" type="tns:SearchPgAcVm" />
</xs:schema>