WinPhoneClientProxy/Service References/ProductManagerService/ProductManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50135/EntityManagers/ProductManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" />
  <xs:element name="GetProductsInCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryFriendlyUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="productsPerPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsInCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" minOccurs="0" name="GetProductsInCategoryResult" nillable="true" type="q1:InCategoryPLVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainHighlighteds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="productsPerPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainHighlightedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" minOccurs="0" name="GetMainHighlightedsResult" nillable="true" type="q2:BookBlockPLVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="productsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="numOfProducts" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" minOccurs="0" name="GetNewestsResult" nillable="true" type="q3:BookBlockPLVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersProductsByFriendlyUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendlyUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="productsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="forExchange" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersProductsByFriendlyUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" minOccurs="0" name="GetUsersProductsByFriendlyUrlResult" nillable="true" type="q4:BookBlockPLVM" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="productsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="forExchange" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" minOccurs="0" name="GetUsersProductsResult" nillable="true" type="q5:BookBlockPLVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>